*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #6393a7;
    height: 100vh;
}

.logo-brand{
    padding: 0;
}
.nav-main-content{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
    align-items: last baseline;
    flex-wrap: wrap;
}

.linnk {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 700px;
}
.submit-btn{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 10%;
}

.logo-brand{
    font-family: "Chewy", sans-serif;
    font-size: 40px;
    transition: 0.5s;
    color: rgb(0, 255, 255);
    outline: none;
}
.logo-brand:hover{
    transform: scale(1.3);
}
.linnk li a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    transition: 0.4s;
}

.linnk li a:hover{
    color: rgba(0, 0, 255, 0.381);
}



.conect-btn button{
    outline: none;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
}

.light-dark-mode  .round-btn i{
    font-size: 29px;
    color: #fff;
}


@media (max-width: 1200px) {
    .linnk {
        /* border: 1px solid; */
        width: 680px;
    }
}
@media (max-width: 1024px) {
    .linnk {
        /* border: 1px solid; */
        width: 600px;
    }
    .linnk li a {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .nav-main-content{
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
    }
    .linnk{
        flex-direction: column;
        justify-content: space-between;
    }  
}